<div class=login>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Email:</mat-label>
                <input matInput placeholder="Placeholder" type="email" formControlName="email">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Password:</mat-label>
                <input matInput placeholder="Placeholder" type="password" formControlName="password">
                <mat-icon matSuffix>password</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p style="display: flex; flex-wrap: nowrap;">
            <button mat-stroked-button type="submit" [disabled]="!profileForm.valid">Submit</button>
            <span class="example-spacer"></span>
            <button mat-stroked-button (click)="openDialog()"> <mat-icon>person_add</mat-icon></button>
        </p>
    </form>
</div>
