@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: Roboto, Arial, sans-serif;
}

.login {
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}
.oneFlexElem {
    flex: 1;
    margin: 3%;
    border-radius: 5%;
}

.bottomMiddle {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-95%) translateY(-50%);
}

.horFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.verFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.example-list {
    max-width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    border: solid 1px #ccc;
    overflow: hidden;
  }
  
  
  .example-box:hover {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
              }


  .example-box {
    border-right: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: move;
    flex: 1;
    padding: 1%;
    border: 1% solid black;
  }
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  @media (max-width:600px){
    .oneFlexElem{
      font-size:50%; 
    }
  }